<div fxLayout="column" fxLayoutAlign="center center">
  <form [formGroup]="registrationFormGroup">
    <div fxFlex fxLayout="column" fxLayoutAlign="center start">
      <label fxFlex for="player-registration-first-name">First Name:</label>
      <input fxFlex name="firstName" type="text" formControlName="firstNameInput" id="player-registration-first-name" required
        aria-required="true">
    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="center start">
      <label fxFlex for="player-registration-last-name">Last Name:</label>
      <input fxFlex name="lastName" type="text" formControlName="lastNameInput" id="player-registration-last-name" required aria-required="true">
    </div>
    <button fxFlex fxFill type="submit" name="submit-registration" id="registration-submit" value="submit" (click)="onRegister()"
      [disabled]="!registrationFormGroup.valid">Register Player</button>
  </form>
</div>
