/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';
@import '~primeng/resources/themes/darkness/theme.css';
@import '~primeng/resources/primeng.min.css';

div.form-container {
  width: 60%;
}

.error-message {
  background-color: rgb(223, 115, 121);
  border-left: 10px solid darkred;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
}

.success-message {
  background-color: rgb(156, 224, 156);
  border-left: 10px solid darkgreen;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
}

.section-title {
  font-size: larger;
  font-weight: bold;
}

.input-container {
  margin-top: 10px;
  margin-bottom: 20px !important;
}

input.input-error {
  border: 2px solid darkred;
}

div.inline-error-container {
  color: darkred;
  height: 0px !important;
}

span.inline-error-text {
  font-size: small;
  height: 0px;
}
