/* You can add global styles to this file, and also import other style files */
.error-message {
  color: dark-red;
  font-weight: bold
}

.success-message {
  color: darkgreen;
  font-weight: bold
}
